logs
project/project
project/target
target
tmp
.history
dist
.idea
.idea_modules
/out
.classpath
.project
/RUNNING_PID
.settings
/lib
*.iml
git.properties
*.log*
junitreport/*.html
**/junitreport/*.html
node.lock
deploy.tar.gz
mitre-openid-connect/conf/mitre-config.log
local-values.conf
*~
**/auth-server/overlays